footer {
  max-width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#1a1818f5, #1414189f);
  padding: 25px;
  border-radius: 25px;

div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 25px;
}

div:nth-child(1) {
  border-bottom: 1px solid $color1;
}

 p {
  color: $color1;
  text-align: center;
}
}
.footer-img {
  width: 35%;
  display: none;
}

// --------media querie footer-------- //

@media screen and (min-width: 800px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 75%;
  }
  .footer-img {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  .footer-img img {
    width: 150px;
  }
  footer div:nth-child(1) {
    border-bottom: none;
  }
}
