<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('./views/components/header.ejs') %>
    <main>
      <section class="container-accueil">
        <article>
          <h2>A propos de nous</h2>
          <p class="hidden-media">
            Bienvenue chez Cecilia Coiffure ! Notre salon de coiffure est
            l'endroit où la beauté rencontre le professionnalisme. Notre équipe
            polyvalente et passionnée, composée d'un coiffeur et d'une
            coiffeuse, travaille avec la même expertise et dévouement pour les
            femmes et les hommes.Faites nous confiance pour vous offrir des
            coiffures impeccables, une ambiance chaleureuse et des conseils
            personnalisés. Prenez rendez-vous avec notre équipe talentueuse dès
            aujourd'hui et découvrez pourquoi notre salon est le choix préféré
            de nombreux clients soucieux de leur apparence.
          </p>
          <p class="hidden-media1">
            Bienvenue chez Cecilia Coiffure ! Notre salon de coiffure est
            l'endroit où la beauté rencontre le professionnalisme. Notre équipe
            polyvalente et passionnée, composée d'un coiffeur et d'une
            coiffeuse, travaille avec la même expertise et dévouement pour les
            femmes et les hommes.
          </p>
        </article>
        <article>
          <h2>Nos prestation</h2>
          <p>
            Chez Cecilia Coiffure, nous proposons une gamme complète de services
            de coiffure pour tous, quel que soit votre sexe. Notre équipe
            expérimentée saura vous conseiller pour une coupe, une couleur ou
            une coiffure adaptée à votre style unique.Offrant des coupes
            amusantes et créatives pour les plus jeunes.
          </p>
          <button class="btn-accueil">En savoir plus</button>
        </article>
        <article>
          <h2>Nos produits</h2>
          <p>
            Chez Cecilia Coiffure, nous utilisons exclusivement des produits de
            qualité professionnelle pour garantir des résultats exceptionnels.
            Nous croyons en l'utilisation de produits respectueux de vos cheveux
            et de l'environnement.
          </p>
          <button class="btn-accueil">En savoir plus</button>
        </article>
        <article>
          <h2>Nous contacter</h2>
          <p>
            Chez Cécilia Coiffure, nous sommes à votre disposition pour répondre
            à toutes vos questions, vous assister dans la prise de rendez-vous,
            ou entendre vos commentaires et suggestions. Nous sommes impatients
            de vous aider à prendre soin de votre beauté.
          </p>
          <button class="btn-accueil">
            <a href="/contact">En savoir plus</a>
          </button>
        </article>
      </section>
    </main>
    <%- include('./views/components/footer.ejs') %>
    <script src="/scripts/burger.js"></script>
    <script src="/scripts/script.js"></script>
  </body>
</html>
