<footer>
  <div class="contact-footer">
    <p>Nous contacter</p>
    <p>&#x2706; 03-27-81-57-13</p>
    <p>13, rue des Chaudronnier Cambrai</p>
  </div>
  <div class="footer-img">
    <img src="/images/Logo.webp" alt="logo" />
  </div>
  <div>
    <p>Facebook</p>
  </div>
</footer>
