<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css" />
    <title>Contact</title>
  </head>
  <body>
    <%- include('./components/header.ejs') %>
    <main class="mainFemme">
      <section class="headerPrestation">
        <h2>Coiffure Femmes</h2>
        <p>
          Pour nos clientes exigeantes, nous offrons un éventail de services de
          coiffure, des coupes tendance aux couleurs éclatantes, en passant par
          les coiffures élégantes pour des occasions spéciales. Notre équipe de
          coiffeurs talentueux est là pour mettre en valeur votre beauté
          naturelle et vous offrir des conseils personnalisés.
        </p>
      </section>
      <section class="prestationContainer">
        <div class="photoContainer">
          <img src="/images/femme.webp" alt="" />
          <img src="/images/femme.webp" alt="" />
        </div>
        <article class="infoPrestation">
          <ul>
            <h3>Coupe de cheveux :</h3>
            <li>
              Description : Une coupe de cheveux consiste à rafraîchir ou à
              changer la longueur et la forme de vos cheveux.
            </li>
            <li>
              Détails : Le coiffeur discutera de vos préférences, de la longueur
              souhaitée et de la forme de coupe. Ensuite, il coupera et
              stylisera vos cheveux pour atteindre le look souhaité.
            </li>
          </ul>

          <ul>
            <h3>Coloration des cheveux :</h3>
            <li>
              Description : La coloration des cheveux implique de changer la
              couleur de vos cheveux en utilisant des teintures.
            </li>
            <li>
              Détails : Vous et le coiffeur discuterez de la couleur désirée. Le
              coiffeur appliquera ensuite la teinture, en veillant à obtenir la
              nuance souhaitée et à couvrir les cheveux gris si nécessaire.
            </li>
          </ul>

          <ul>
            <h3>Mèches ou balayage :</h3>

            <li>
              Description : Les mèches ou le balayage sont des techniques de
              coloration partielle pour créer des reflets et des contrastes
              subtils.
            </li>
            <li>
              Détails : Le coiffeur sélectionnera des mèches de cheveux à
              éclaircir, puis appliquera la teinture de manière à créer des
              reflets naturels.
            </li>
          </ul>

          <ul>
            <h3>Brushing ou mise en plis :</h3>
            <li>
              Description : Le brushing consiste à coiffer les cheveux à l'aide
              d'un sèche-cheveux et d'une brosse pour leur donner forme et
              volume.
            </li>
            <li>
              Détails : Après le lavage des cheveux, le coiffeur utilisera un
              sèche-cheveux et une brosse pour coiffer vos cheveux selon vos
              préférences.
            </li>
          </ul>

          <ul>
            <h3>Coiffure pour une occasion spéciale :</h3>
            <li>
              Description : Pour des événements spéciaux, le coiffeur peut créer
              une coiffure sophistiquée ou artistique.
            </li>
            <li>
              Détails : Le coiffeur discutera du style de coiffure souhaité pour
              l'occasion, puis la réalisera en utilisant des techniques de
              coiffage avancées.
            </li>
          </ul>

          <ul>
            <h3>Extensions de cheveux :</h3>
            <li>
              Description : Les extensions de cheveux ajoutent de la longueur ou
              de la densité aux cheveux.
            </li>
            <li>
              Détails : Le coiffeur posera les extensions en fonction de la
              méthode choisie, qu'il s'agisse de clips, de kératine, de tissage
              ou d'autres techniques
            </li>
          </ul>
        </article>
        <div class="photoContainer">
          <img src="/images/femme.webp" alt="" />
          <img src="/images/femme.webp" alt="" />
        </div>
      </section>
    </main>

    <%- include('./components/footer.ejs') %>
    <script src="/scripts/burger.js"></script>
  </body>
</html>
