<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css" />
    <title>Nos produits</title>
  </head>
  <body>
    <%- include('../views/components/header.ejs') %>

    <main>
      <section class="h2Produit">
        <h2>Nos produits du moment</h2>
        <div class="topProduit">
          <article>
            <h3>pdt1</h3>
            <img src="/images/KerastaseBG.webp" alt="Photo du produit" />
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
              minima error blanditiis recusandae labore odit eaque nesciunt
              doloremque repellat, pariatur ipsa explicabo quod alias.
            </p>
            <button>En savoir plus</button>
          </article>
          <article>
            <h3>pdt2</h3>
            <img src="/images/KerastaseBG.webp" alt="Photo du produit" />
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
              minima error blanditiis recusandae labore odit eaque nesciunt
              doloremque repellat, pariatur ipsa explicabo quod alias.
              Reprehenderit quam sed temporibus iste consequuntur.
            </p>
            <button>En Savoir plus</button>
          </article>
          <article>
            <h3>pdt3</h3>
            <img src="/images/KerastaseBG.webp" alt="Photo du produit" />
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
              minima error blanditiis recusandae labore odit eaque nesciunt
              doloremque repellat, pariatur ipsa explicabo quod alias.
              Reprehenderit quam sed temporibus iste consequuntur.
            </p>
            <button>En Savoir plus</button>
          </article>
        </div>
      </section>
      <section class="h2Produit">
        <h2>Découvrir nos catégories de produits</h2>
        <div class="catProduitContainer">
          <article>
            <h3>Nos Shampoing</h3>
            <p>
              Les shampooings Kérastase incarnent l'élégance et l'innovation
              dans le domaine des soins capillaires. En tant que marque de
              renom, Kérastase offre une gamme diversifiée de shampooings conçus
              pour répondre aux besoins spécifiques de chaque type de cheveux.
              Chaque formule de shampooing Kérastase est méticuleusement
              élaborée avec des ingrédients de haute qualité.
            </p>
            <button>En Savoir plus</button>
          </article>
          <article>
            <h3>Nos après-Shampoing</h3>
            <p>
              Les après-shampoings Kérastase incarnent l'excellence dans les
              soins capillaires, offrant une expérience de conditionnement
              luxueuse et hautement efficace. Conçus pour compléter la gamme de
              shampooings de la marque, ces produits apportent une touche finale
              de soin et de douceur à vos cheveux. Chaque après-shampoing
              Kérastase est formulé avec des ingrédients de qualité supérieure.
            </p>
            <button>En Savoir plus</button>
          </article>
          <article>
            <h3>Nos Huiles</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
              minima error blanditiis recusandae labore odit eaque nesciunt
              doloremque repellat, pariatur ipsa explicabo quod alias.
              Reprehenderit quam sed temporibus iste consequuntur. Eaque cumque
              iusto perferendis beatae dolores amet voluptates nemo natus cum
              sed, qui fugiat libero aperiam repudiandae exercitationem rem!
              Fugit accusantium earum, laudantium vitae quia corporis quo porro
              facilis laboriosam?
            </p>
            <button>En Savoir plus</button>
          </article>
          <article>
            <h3>Nos Soins</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
              minima error blanditiis recusandae labore odit eaque nesciunt
              doloremque repellat, pariatur ipsa explicabo quod alias.
              Reprehenderit quam sed temporibus iste consequuntur. Eaque cumque
              iusto perferendis beatae dolores amet voluptates nemo natus cum
              sed, qui fugiat libero aperiam repudiandae exercitationem rem!
              Fugit accusantium earum, laudantium vitae quia corporis quo porro
              facilis laboriosam?
            </p>
            <button>En Savoir plus</button>
          </article>
        </div>
      </section>
    </main>

    <%-include('../views/components/footer.ejs') %>
    <script src="/scripts/burger.js"></script>
    <script src="/scripts/script.js"></script>
  </body>
</html>
