.mainConnect {
  background: linear-gradient(#1a1818f5, #1414189f);
  padding: 25px;
  border-radius: 25px;
  @include marginCenter;
  margin-block: 25px;
  max-width: 260px;
  display: flex;
  flex-direction: column;
}

.mainConnect h2 {
  text-align: center;
  color: $color2;
  font-size: 2rem;
}
.mainConnect p,
label {
  text-align: center;
  color: $color1;
}

.connect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}

.connect input {
  width: 200px;
  padding: 8px 5px;
  border-radius: 15px;
}

.connect button {
  border-radius: 25px;
  padding: 10px 25px;
  margin: 0 auto;
  background-color: $color2;
  cursor: pointer;
  font-weight: 800;
  border: $marron 1px solid;
  margin-block: 10px;
}

.inscription {
  font-weight: bold;
}

// deconnexion

.mainDisconnect {
  background: linear-gradient(#1a1818f5, #1414189f);
  padding: 25px;
  border-radius: 25px;
  @include marginCenter;
  margin-block: 25px;
  max-width: 260px;
  display: flex;
  flex-direction: column;
}

.mainDisconnect form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.mainDisconnect h1 {
  color: $color2;
  text-align: center;
}
