.ficheProduct {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: linear-gradient(#1a1818f5, #1414189f);
  margin-block: 25px;
  max-width: 285px;
  padding: 10px;
  gap: 8px;
  border-radius: 25px;
  list-style-type: none;
  max-height: 900px;
}

.ficheProduct h2 {
  color: $color2;
  text-align: center;
}

.productSup{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.productSup div ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.productSup h3 {
  color: $color2;
  
}
.contenance {
  color: $color1;
  text-align: center;
  display: block;
}

.ficheProduct ul {
  list-style-type: none;
  color: $color1;
}

.ficheProduct > div p {
  color: $color1;
  text-align: justify;
  padding: 10px;
}

.mainProduct {
  display: flex;
  justify-content: center;
}

.productSup p {
  color: $color1;
  text-align: justify;
}

.ficheProduct div img {
  width:80%;
}

.imgFicheProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

@media screen and (min-width: 800px) {
  .ficheProduct {
    margin-top: 30px;
    max-width: 70%;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    max-height: 500px;
  }
  .productSup {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-evenly;
  }
  .productSup li {
    text-align: justify;
    padding: 5px 10px;
  }

  .productSup h3 {
    color: $color2;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1050px) {
  .imgFicheProduct {
    gap: 10px;
    border-right: 2px solid $color2;
    margin-right: 10px;
  }
}