.topProduit {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.h2Produit h2 {
  color: $color2;
  font-size: 2rem;
  text-align: center;
  margin: 50px auto;
  background: linear-gradient(#1a1818f5, #1414189f);
  max-width: 85%;
  padding: 10px 15px;
  border-radius: 25px;
}

.topProduit h3 {
  color: $color2;
  font-size: 1.5rem;
  text-align: center;
}

.topProduit img {
  border-radius: 25px;
  width: 230px;
  @include marginCenter;
}

.topProduit article {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  @include marginCenter;
  background: linear-gradient(#1a1818f5, #1414189f);
  gap: 10px;
  padding: 15px;
  border-radius: 25px;
}

.topProduit p {
  color: $color1;
}

// Catégorie de produit //

.catProduitContainer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  max-width: 85%;
  margin: 0 auto;
  gap: 25px;
  margin-top: 50px;
}

.catProduitContainer article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 400px;
  gap: 5px;
  padding: 15px;
  border-radius: 25px;
}

.catProduitContainer article h3 {
  color: $color2;
  font-size: 1.5rem;
  text-align: center;
  background: linear-gradient(#1a1818f5, #1414189f);
  border-radius: 25px;
}

.catProduitContainer p {
  color: $color1;
  background: linear-gradient(#1a1818f5, #1414189f);
  padding: 10px;
  border-radius: 25px;
}

.catProduitContainer article:nth-of-type(1) {
  background: url(/images/shampoing.webp) center no-repeat;
  background-size: cover;
}
.catProduitContainer article:nth-of-type(2) {
  background: url(/images/apresShampoings.webp) center no-repeat;
  background-size: cover;
}
.catProduitContainer article:nth-of-type(3) {
  background: url(/images/nosHuiles.webp) center no-repeat;
  background-size: cover;
}
.catProduitContainer article:nth-of-type(4) {
  background: url(/images/soins.webp) center no-repeat;
  background-size: cover;
}

//Media queries //

@media screen and (min-width: 500px) {
  .catProduitContainer article {
    height: 350px;
  }
}
@media screen and (min-width: 600px) {
  .catProduitContainer article {
    width: 520px;
  }
}

@media screen and (min-width: 900px) {
  .topProduit {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 25px;
  }

  .topProduit article {
    display: flex;
    flex-direction: column;
    width: 400px;
    background: linear-gradient(#1a1818f5, #1414189f);
    gap: 10px;
    padding: 15px;
    border-radius: 25px;
    margin: 0;
  }
  .h2Produit h2 {
    max-width: 500px;
  }
}

@media screen and (min-width: 1010px) {
  .catProduitContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .catProduitContainer article {
    width: 420px;
  }
}

@media screen and (min-width: 1350px) {
  .catProduitContainer article {
    width: 550px;
  }
}

@media screen and (min-width: 1500px) {
  .catProduitContainer article {
    width: 700px;
    height: 400px;
  }
  .catProduitContainer article p {
    width: 75%;
    @include marginCenter;
    text-align: center;
  }
}
