<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('../../components/header.ejs') %> <% if (detailsUser) { %>

    <main class="mainUser">
      <ul>
        <li>Nom : <%= detailsUser.lastname %></li>
        <li>Prénom : <%= detailsUser.firstname %></li>
        <li>Email : <%= detailsUser.email %></li>
      </ul>

      <% } %>
      <script src="/scripts/burger.js"></script>
    </main>
  </body>
</html>
