button {
    border-radius: 25px;
    padding: 15px 25px;
    margin: 0 auto;
    background-color: $color2;
    cursor: pointer;
    font-weight: 800;
    border: $marron 1px solid;
    margin-block: 10px;
  }
  button a:visited {
    color: black;
  }
  
  button:hover {
    scale: 1.2;
    background-color: $marron;
    color: $color1;
  }